header {
	position:relative;

	.info-component {
		background: $grey;

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.contacts {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 34px;

			.contact {

				+ .contact {
					margin: 0 0 0 20px;
				}
				img {
					height: 21px;
					margin: 0 10px 0 0;
				}

				a {
					@include underline;
					font-size: 1.2rem;
					color: white;
				}
			}
		}

		.social-medias {
			.social {
				img {
					height: 20px;
				}

				+ .social {
					margin: 0 0 0 10px;
				}
			}
		}
	}

	.navigation-component {
		position: relative;
		z-index: 10;

		.nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			padding: 20px 0 0 0;
			margin: 0;

			.nav-logo {
				margin: 0 40px;

				img {
					height: 85px;
				}
			}

			.nav-item {
				a {
					@include underline;
					color: white;
					font-size: 1.4rem;
					letter-spacing: 1px;
				}

				&.squared {
					border: 1px solid white;
					padding: 6px 15px;

					a {
						@include reset-underline;
						text-decoration: none;
						font-weight: bold;
					}
				}
			}
		}
	}
	
	&.minimize {
		background: white;
		box-shadow: 0 1px 20px 1px rgba(162,122,115,.25);
		
		.header-top {
			height: 66px;
			justify-content: center;
		}
		
		.logo-wrap {
			color: $body;
			font-size: 20px;
			margin-top: -5px;
			margin-right: 20px;
			
			&:hover {
				color: $second;
			}
		}
		
		.nav-menu {
			
			
			ul.nav {
				li {
					a {
						color: $body;
						@include reset-underline;
						
						&:hover, &.active {
							color: $second;
						}
					}
				}
			}
			
			
		}
	}
}

@media (min-width: 1199px) and (max-width: 1400px) {
	header.minimize {
		.nav-menu {
			.container {
				// background: red;
				margin-left: 113px;
				margin-right: 113px;
			}
		}
	}
}

// desktop normal and tablet landscape ( max-width 1199px )
@include media-breakpoint-down(lg) {
	header, header.minimize {
		background: white;
		box-shadow: 0 1px 20px 1px rgba(162,122,115,.25);
		
		.header-top {
			height: 66px;
			justify-content: center;
			
			.logo-wrap {
				color: $body;
				font-size: 20px;
				margin-top: -5px;
				margin-right: 20px;
				
				&:hover {
					color: $second;
				}
			}
		}
		.nav-menu {
			
			ul.nav {
				li {
					a {
						color: $body;
						@include reset-underline;
						
						&:hover, &.active {
							color: $second;
						}
					}
				}
			}
			
			
		}
	}
}

// desktop small and tablet potrait ( max-width 991px )
@include media-breakpoint-down(md) {
	
}

// mobile potrait and landscape ( max-width 767px )
@include media-breakpoint-down(sm) {
	
	header, header.minimize {
		.nav-menu {
			display: none;
			
		}

		.logo-wrap {
			margin-right: 0;
		}

		$box: 30px;
		.mobile-trigger {
			display: none;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translate3d(0,-50%,0);
			width: 30px;
			height: 30px;
			cursor: pointer;
			$weight: 2px;

			.mid {
				height: $weight;
				width: 100%;
				background-color: #918f8f;
				transform: translate3d(0,-50%,0);
				position: absolute;
				top: 50%;
				transition: opacity .35s ease;
			}

			$margin: 5px;
			&::before, &::after {
				content: '';
				display: block;
				height: $weight;
				width: 100%;
				background-color: #918f8f;
				position: absolute;
				top: $margin;
			}

			&::after {
				top:auto;
				bottom: $margin;
			}

			&.opened {
				.mid {
					opacity: 0;
				}

				&::before {
					animation: openTopAnim .35s forwards ease-in-out 1;
				}

				&::after {
					animation: openBotAnim .35s forwards ease-in-out 1;
				}
			}

			&.closed {
				&::before {
					animation: closedTopAnim .35s forwards ease-in-out 1;
				}

				&::after {
					animation: closedBotAnim .35s forwards ease-in-out 1;
				}
			}
		}
	}
}
//small mobile (max-width 480px)
@include media-breakpoint-down(xs) {
	
}
