.slider-component {
    // margin-top: -105px;
    position: relative;
    z-index: 2;
    height: calc(100vh - 34px);
    
    .slider-wrap {
        position: relative;
        
        .slider-img {
            overflow: hidden;
            height: calc(100vh - 34px);

            img {
                width: 100%;
            }
        }
        
        .slider-text {
            position: absolute;
            top: 45vh;
            left: 50vw;
            transform: translate(-50%,-50%);
        }
        
        .subtitle {
            font-size: 6rem;
            color: white;
            font-weight: 100;
            text-align: center;
            margin: 0 0 20px;
        }
        
        .title {
            font-size: 10rem;
            color: white;
            font-weight: 500;
            letter-spacing: 20px;
            text-transform: uppercase;
            text-align: center;
            margin: 0 0 32px;
        }
        
        .slider-button {
            display: flex;
            justify-content: center;
            
            .btn + .btn {
                margin: 0 0 0 10px;
            }
        }
    }
    
    .slick-dots {
        position: absolute;
        left: 50%;
        top: calc(78vh - 34px);
        transform: translateX(-50%);
        list-style: none;
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        
        li {
            display: inline-block;

            + li {
                margin: 0 0 0 13px;
            }

            button {
                font-size: 0;
                width: 50px;
                height: 6px;
                border: none;
                background: white;
                transition: all .3s;
                outline: none;
            }
            
            &.slick-active, &:hover {
                button {
                    background:$second;
                }
            }
        }
    }
}

// desktop normal and tablet landscape ( max-width 1199px )
@include media-breakpoint-down(lg) {
    section {
    }
}

// desktop small and tablet potrait ( max-width 991px )
@include media-breakpoint-down(md) {
    section {
        
    }
}

// mobile potrait and landscape ( max-width 767px )
@include media-breakpoint-down(sm) {
    section {
        
    }
}

//small mobile (max-width 480px)
@include media-breakpoint-down(xs) {
    
}