//- styleguide.jade
- var title = "Free Enginer"
- var page = "Homepage"
include ./includes/variable.jade

doctype html
html(lang="id")

	// html head
	head
		include ./includes/head.jade

	// body
	body.revamp

		// page header
		include ./includes/header.jade 

		// page main
		main(role="main")
			section.hero
				.slider-component
					.slider-wrap
						.slider-img
							img(data-lazy="img/content/carousel-01.jpg")
						.slider-text
							h2.subtitle We Research Your Best Solar Deal
							h2.title For Free
							.slider-button
								a(href="#").btn.btn-main HOW IT WORKS
								a(href="#").btn.btn-second SAVING CALCULATOR
					.slider-wrap
						.slider-img
							img(data-lazy="img/content/carousel-02.jpg")
						.slider-text
							h2.subtitle We Research Your Best Solar Deal
							h2.title For Free
							.slider-button
								a(href="#").btn.btn-main HOW IT WORKS
								a(href="#").btn.btn-second SAVING CALCULATOR
					.slider-wrap
						.slider-img
							img(data-lazy="img/content/carousel-01.jpg")
						.slider-text
							h2.subtitle We Research Your Best Solar Deal
							h2.title For Free
							.slider-button
								a(href="#").btn.btn-main HOW IT WORKS
								a(href="#").btn.btn-second SAVING CALCULATOR
				.steps-component
					.container
						.step
							.no
								p 1
								img(src="img/ui/ic-step-01.png")
							.description
								p Contact us with what you want
						.step
							.no
								p 2
								img(src="img/ui/ic-step-02.png")
							.description
								p We help you make energy & solar simple
						.step
							.no
								p 3
								img(src="img/ui/ic-step-03.png")
							.description
								p Our engineers assess & develop the solutions
						.step
							.no
								p 4
								img(src="img/ui/ic-step-04.png")
							.description
								p We find you up to 3 trusted competitive suppliers
						.step
							.no
								p 5
								img(src="img/ui/ic-step-05.png")
							.description
								p You have the final say, with our support
						.step
							.no
								p 6
								img(src="img/ui/ic-step-06.png")
							.description
								p Installation we support you with site visits
						.step
							.no
								p 7
								img(src="img/ui/ic-step-07.png")
							.description
								p We verify the saving after install	
			section.reasons
				.reason-component
					.img-wrap
						img(src="img/content/reason-01.jpg")
					.body-wrap
						h2.title Why Use<br/>Free Engineer?
						.description
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
				.reason-component
					.body-wrap
						h2.title Buy or Lease?
						a(href="#").btn.btn-main let us help you decide
					.img-wrap
						img(src="img/content/reason-02.jpg")
			section.plans
				.container
					h2.section-title Save Up To<br/>60% On Your Power
					.plans-component
						.plan
							.title RESIDENTIAL
							ul
								li Super Long Feature Item
								li Feature Item
								li Super Long Feature Item
								li Long Feature
								li Feature Item
							a(href="#").btn.btn-main-o Enquire now
						.plan.active
							.title RESIDENTIAL
							ul
								li Super Long Feature Item
								li Feature Item
								li Super Long Feature Item
								li Long Feature
								li Feature Item
							a(href="#").btn.btn-main-o Enquire now
						.plan
							.title RESIDENTIAL
							ul
								li Super Long Feature Item
								li Feature Item
								li Super Long Feature Item
								li Long Feature
								li Feature Item
							a(href="#").btn.btn-main-o Enquire now
			section.faq
				.container
					h2.section-title Get It Done Without The Headaches
					h3.section-subtitle FREQUENTLY ASKED QUESTIONS
					.tabs-component
						.tab
							.tab-head Donec Vel Mauris Eget Enim Sagitis Ullam
							.tab-body
								.question orem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
								.answer orem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
						.tab
							.tab-head Donec Vel Mauris Eget Enim Sagitis Ullam
							.tab-body
								.question orem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
								.answer orem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
						.tab
							.tab-head Donec Vel Mauris Eget Enim Sagitis Ullam
							.tab-body
								.question orem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
								.answer orem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
						.tab
							.tab-head Donec Vel Mauris Eget Enim Sagitis Ullam
							.tab-body
								.question orem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
								.answer orem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
			section.articles
				.container
					.articles-component
						.article
							.img-wrap
								img(src="img/content/case-01.jpg")
							.body-wrap
								h2.title CASE STUDY
								.description
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
									a(href="#").btn.btn-main MORE
						.article
							.img-wrap
								img(src="img/content/case-01.jpg")
							.body-wrap
								h2.title CASE STUDY
								.description
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
									a(href="#").btn.btn-main MORE
						.article
							.img-wrap
								img(src="img/content/case-01.jpg")
							.body-wrap
								h2.title CASE STUDY
								.description
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non lorem turpis. Ut consectetur fringilla sapien sagittis feugiat. Ut venenatis ipsum felis, eget feugiat augue laoreet in. Sed a lectus enim. Ut nunc nisi, rutrum quis tincidunt sit amet, dignissim et nibh. Quisque scelerisque, erat vitae dapibus ornare, neque tortor eleifend diam, in hendrerit turpis erat eu dolor. Vestibulum at justo vel nunc fermentum rhoncus. Vestibulum placerat lobortis laoreet. Etiam euismod sodales lacus et vulputate. Integer consectetur neque neque, consequat varius neque pulvinar quis. Morbi nec viverra massa, nec eleifend lectus. In mattis lorem quis tellus volutpat, ac semper purus lacinia. Nunc velit augue, molestie ac sapien nec,
									a(href="#").btn.btn-main MORE
			section.calculator
				.container
					h2.section-title Try Out Our Savings Calculator
					h3.section-subtitle LEARN HOW YOU CAN SAVE 60% ON YOUR BILL
					.calculator-component
						.form-wrap
							.row-wrap
								.input-wrap
									label Criteria 1
									input(type="text")
								.input-wrap
									label Criteria 2
									input(type="text")
							.row-wrap
								.input-wrap
									label Choice Type
									.radio-group
										.radio-wrap
											input(type="radio" name="choice" checked)
											.radio
											span Choice 1
										.radio-wrap
											input(type="radio" name="choice")
											.radio
											span Choice 2
										.radio-wrap
											input(type="radio" name="choice")
											.radio
											span Choice 3
							.row-wrap
								.input-wrap
									label Criteria 3
									input(type="text")
								.input-wrap
									label Criteria 4
									input(type="text")
						.summary-wrap
							.title YOUR SAVING
							.total
								.cost $ 1,234
								.message THAT'S AWESOME!
							a(href="#").btn.btn-main-o ENQUIRE NOW		
			section.contact-us
				.container
					h2.section-title
					a(href="#").btn.btn-second-o CONTACT US
			section.vision
				.container
					h2.section-title World Vision
		footer
			.footer-top
				.container
					.logo-component
						img(src="img/ui/logo.png")
					.info-component
						.contacts
							.contact
								img(src="img/ui/ic-phone-o.png")
								a(href="#") +12 123 456 789
							.contact
								img(src="img/ui/ic-email-o.png")
								a(href="emailto:info@yoursite.com") info@yoursite.com
							.contact
								img(src="img/ui/ic-place-o.png")
								a(href="#") 100 Standard Street<br/> Sydney NSW 1234
						.foot-nav
							a.nav-link(href="#") HOME
							a.nav-link(href="#") OUR STORY
							a.nav-link(href="#") HOW CAN WE HELP
							a.nav-link(href="#") WHY SOLAR
							a.nav-link(href="#") CONNECT WITH US
							a.nav-link(href="#") REFERENCES
							a.nav-link(href="#") LOGIN
			.footer-bottom
				.container
					ul.copyright
						span &copy; 2018
						a(href="#") Privacy Policy
						a(href="#") Terms of use
					.sign
						a(href="#") website design sydney
						a(href="#") spicy broccoli media


		// page script
		include ./includes/script.jade
