section {
    &.hero {
        position: relative;

        .steps-component {
            position: absolute;
            width: 100%;
            z-index: 3;
            
            .container {
                background: $main;
                width: 1110px;
                padding: 40px 30px 25px;
                display:flex;
                justify-content: space-between;
                align-items: flex-start;
            }
            
            .step {
                width: 120px;
                display: block;

                
                +.step {
                    margin: 0 0 0 auto;
                }
                
                &:nth-child(6) {
                    .no {
                        img {
                            left: 22px;
                        }
                    }
                }

                &:nth-child(1) {
                    .no {
                        img {
                            width: 60px;
                        }
                    }
                }

                &:nth-child(2) {
                    .no {
                        img {
                            width: 64px;
                        }
                    }
                }

                &:nth-child(3) {
                    .no {
                        img {
                            left: 50px;
                            width: 53px;
                        }
                    }
                }

                &:nth-child(4) {
                    .no {
                        img {
                            left: 50px;
                            width: 70px;
                        }
                    }
                }

                &:nth-child(5) {
                    .no {
                        img {
                            left: 40px;
                            width: 70px;
                        }
                    }
                }

                &:nth-child(7) {
                    .no {
                        img {
                            left: 43px;
                            width: 70px;
                        }
                    }
                }
                
                .no {
                    margin: 0 0 15px 0;
                    position: relative;
                    
                    img {
                        position: absolute;
                        bottom: 5px;
                        left: 42px;
                    }
                    
                    p {
                        font-size: 7.326rem;
                        font-weight: 700;
                        color: #7bc383;
                        margin: 0 5px 0 0;
                        display: inline;
                        line-height: 1;
                    }
                }
                
                .description {
                    text-align: center;
                    
                    p {
                        color: white;
                        font-size: 1.7rem;
                        font-size: 700;
                        margin: 0;
                    }
                }
            }
        }
    }
    
    &.reasons {
        .reason-component {
            display: flex;
            
            > div:first-child {
                width: 42vw;
            }
            > div:last-child {
                width: 58vw
            }
            .img-wrap {
                img {
                    width: 100%;
                }
            }
            .body-wrap {
                .title {
                    color: $second;
                    font-size: 6rem;
                    font-weight: 400;
                    margin: 0 0 45px;
                }

                .description {
                    p {
                        font-size: 2rem;
                        font-weight: 400;
                    }
                }

                .btn {
                    font-size: 2rem;
                    font-weight: 700;
                    letter-spacing: 2px;
                    padding: 16px 39px;
                }
            }
            
            &:first-child {
                .body-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 0 10vw 4vw 6vw;
                }
            }
            
            &:last-child {
                .body-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    &.faq {
        padding: 90px 0;

        .section-title {
            text-align: center;
            font-size: 5rem;
            margin: 0 0 20px;
            font-weight: 500;
            font-family: $lato;
            color: $second;
        }

        .section-subtitle {
            font-size: 3rem;
            margin: 0 0 70px;
            text-align: center;
            font-weight: 700;
            font-family: $lato;
            color: #323232;
            letter-spacing: 2px;
        }
    }
    
    &.plans {
        background: #ccc url('../img/ui/plan-bg.jpg') no-repeat;
        background-size: cover;
        padding: 95px 0 190px;
        
        .section-title {
            font-size: 6rem;
            text-align: center;
            color: white;
            margin: 0 0 90px;
            font-family: $lato;
        }
        
        .plans-component {
            display: flex;
            align-items: center;
            
            .plan {
                width: calc(100%/3);
                padding: 50px 20px;
                background: #4ec753;
                text-align: center;
                position: relative;
                transition: all .3s;
                
                // &::before, &::after {
                //     content: '';
                //     width: 100%;
                //     height: 40px;
                //     background: $main;
                //     display: block;
                //     position: absolute;
                //     left: 0;
                //     z-index: -1;
                //     opacity: 0;
                //     transition: transform .3s .1s;
                // }
                
                // &::before {
                //     top: 0;
                //     height: 35px;
                // }
                
                // &::after {
                //     bottom: 0;
                // }
                
                .title {
                    color: white;
                    font-size: 3rem;
                    font-weight: 900;
                    letter-spacing: 2px;
                    font-family: $lato;
                    
                    &::after {
                        content: '';
                        display: table;
                        width: 50px;
                        height: 2px;
                        background: white;
                        margin: 20px auto 20px;
                    }
                }
                
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    
                    li {
                        font-size: 2rem;
                        color: white;
                        
                        + li {
                            margin: 10px 0 0;
                        }
                    }
                }
                
                .btn {
                    display: inline-block;
                    margin: 50px 0 0;
                    font-weight: 700;
                    font-size: 2rem;
                    padding: 13px 40px;
                    letter-spacing: 1px;
                }
                
                &.active {
                    background: #44ac4b;
                    padding: 90px 20px 85px;
                    
                    &::before {
                        transform: translateY(-35px);
                        opacity: 1;
                        z-index: 1;
                    }
                    &::after {
                        transform: translateY(40px);
                        opacity: 1;
                        z-index: 1;
                    }
                }
            }
        }
    }
    
    &.articles {
        background: #ededed;
        
        .container {
            padding: 100px 0 95px;
        }
        
        .articles-component {
            display: flex;
            justify-content: space-between;
            
            .article {
                width: calc(100%/3 - 40px/3);
                background: white;

                + .article {
                    margin: 10px 0 0 20px;
                }

                &:first-child,
                &:nth-child(2),
                &:nth-child(3) {
                    margin-top: 0;
                }

                &:nth-child(3n+1) {
                    margin-left: 0;
                }
                
                .img-wrap {
                    
                    img {
                        width: 100%;
                        height: 280px;
                        object-fit: cover;
                    }
                }
                
                .body-wrap {
                    padding: 50px 30px 55px;
                    
                    .title {
                        margin: 0 0 35px;
                        font-size: 3rem;
                        letter-spacing: 2px;
                        font-weight: 700;
                        font-family: $lato;
                    }
                    
                    .description {
                        p {
                            font-size: 2rem;
                        }
                    }
                    
                    .btn {
                        font-size: 2rem;
                        font-weight: 700;
                        padding: 10px 20px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
    
    &.calculator {
        padding: 85px 0;
        
        .section-title {
            text-align: center;
            font-size: 5rem;
            margin: 0 0 20px;
            font-weight: 500;
            font-family: $lato;
            color: $second;
        }

        .section-subtitle {
            font-size: 3rem;
            margin: 0 0 70px;
            text-align: center;
            font-weight: 700;
            font-family: $lato;
            color: #323232;
            letter-spacing: 2px;
        }

        .calculator-component {
            border: 6px solid #eee;
        }
    }
    
    &.contact-us {
        padding: 60px 0;
        background: $second;
        text-align: center;
        
        .section-title {
            font-size: 3rem;
            margin: 0 0 40px;
            font-weight: 700;
            color: white;
            letter-spacing: 2px;
        }
        
        .btn {
            display: inline-block;
            font-size: 2rem;
            letter-spacing: 2px;
            padding: 15px 70px;
        }
    }
    
    &.vision {
        background: url('../img/content/vision.jpg') no-repeat;
        background-position: center center;
        background-size: cover;
        height: 505px;
        width: 100%;
        padding: 108px 0 0 0;
        
        .section-title {
            
            color: $second;
            font-size: 9rem;
            font-family: "Lato", sans-serif;
            text-align: center;
            letter-spacing: -2px;
        }
    }
}

@media (max-width:1366px) {
    section {
        &.hero {

        }
    }
}


// desktop normal and tablet landscape ( max-width 1199px )
@include media-breakpoint-down(lg) {
    section {
    }
}

// desktop small and tablet potrait ( max-width 991px )
@include media-breakpoint-down(md) {
    section {
        
    }
}

// mobile potrait and landscape ( max-width 767px )
@include media-breakpoint-down(sm) {
    section {
        
    }
}

//small mobile (max-width 480px)
@include media-breakpoint-down(xs) {
    
}