.btn {
    text-transform: uppercase;
    padding: 18px 35px;
    letter-spacing: 1.5px;
    border-radius: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    outline: none;
    transition: all .3s ease;
    
    &.btn-main {
        background: $main;
        color: white;
        box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
        
        &:hover {
            box-shadow: 0px 5px 20px 0 $main;
            background: lighten($main, 5%);
            transition: all .5s ease;
            color: darken(white,5%);
        }
    }

    &.btn-main-o {
        background: white;
        color: $main;
        box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
        
        &:hover {
            box-shadow: 0px 5px 20px 0 white;
            transition: all .5s ease;
        }
    }
    
    &.btn-second {
        background: $second;
        color: white;
        box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
        
        &:hover {
            box-shadow: 0px 5px 20px 0 $second;
            background: lighten($second, 5%);
            transition: all .5s ease;
            color: darken(white,5%);
        }
    }

    &.btn-second-o {
        background: white;
        color: $second;
        box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
        
        &:hover {
            box-shadow: 0px 5px 20px 0 $second;
            transition: all .5s ease;
        }
    }
}