footer.footer-revamp {
	background: $grey;
	padding: 0;

	.container {
		width: 1366px;
		padding: 0;

		&::after,&::before {
			content: none;
		}
	}

	h1 {
		@include default-text("h1");
		color: $body;
	}
	h2 {
		@include default-text("h2");
		color: $body;
	}
	h3 {
		@include default-text("h3");
		color: $body;
	}
	h4 {
		@include default-text("h4");
		color: $body;
	}
	
	p,span {
		font-size: 1.6rem;
		font-weight: normal;
		line-height: 1.4;
		margin-bottom: 25px;
		color: $body;
	}
	
	a {
		font-weight: 400;
		font-size: 1.6rem;
		color: $second;
		
		&:hover {
			color: $second;
		}
		
		&:visited {
			color: $second;
		}
	}
	
	ul {
		padding: 0;
		margin-bottom: 15px;
		font-weight: 400;
		font-size: 1.6rem;
		color: $body;
		
		li {
		}
	}
	
	ol {
		padding: 0;
		margin-bottom: 15px;
		font-weight: 400;
		font-size: 1.6rem;
		color: $body;
		
		li {
			margin-left: 40px;
		}
	}
	
	table {
		width: 100%;
		
		thead {
			width: inherit;
			
			tr {
				th {
					padding: 20px 80px 20px 0;
					font-size: 1.6rem;
					
					h4 {
						margin: 0;
					}
				}
			}
		}
		
		tbody {
			width: inherit;
			
			tr {
				td {
					padding: 15px 80px 15px 0;
					font-size: 1.6rem;
					
					h4,
					p {
						margin: 0;
					}
				}
				
				&:not(:first-child) {
					border-top: 1px solid #cacaca;
				}
			}
			
		}
	}
	
	.footer-top {
		padding: 50px 0 45px;
		
		.container {
			display: flex;
		}
		
		.logo-component {
			margin: 0 95px 0 15px;
			
			img {
				width: 140px;
			}
		}
		
		.info-component {
			flex: 1 1 auto;

			.contacts {
				display: flex;
				justify-content: space-between;
				padding: 0 0 23px;
				border-bottom: 1px solid white;

				.contact {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;

					&:last-child {
						.icon {
							img {
								width: 14px;
							}
						}	
					}
				}

				.icon {
					margin: 0 10px 0 0;
					position: relative;

					&::before {
						width: 35px;
						height: 35px;
						border-radius: 50%;
						background: white;
						content: '';
						display: block;
					}

					img {
						width: 18px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
					}
				}

				a {
					color: white;
					font-size: 2rem;
					text-decoration: none;
					margin: 5px 0 0 0;
				}
			}

			.foot-nav {
				margin: 30px 0 0 0;
				display: flex;
				justify-content: space-between;

				a {
					color: white;
					font-size: 1.3rem;
					font-weight: 700;
					letter-spacing: 2px;
					font-family: $lato;
					text-decoration: none;
				}
			}
		}
	}
	
	.footer-bottom {
		background: #44ac4b;
		padding: 15px 0;
		
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		
		.copyright {
			span, a {
				color: white;
				font-size: 1.3rem;
				font-weight: 300;
				font-family: $lato;
				letter-spacing: 1.5px;
				font-family: 'Roboto', sans-serif;
			}
			
			a {
				@include underline;
				position: relative;
				margin: 0 0 0 20px;
				
				&::before {
					content: '';
					position: absolute;
					left: -10px;
					top: 5px;
					height: 10px;
					width: 1px;
					background: white;
				}
			}
		}
		
		.sign {
			a {
				color: white;
				font-size: 1.3rem;
				font-weight: 300;
				letter-spacing: 1.5px;
				font-family: 'Roboto', sans-serif;
				@include underline;
				position: relative;
				
				+ a {
					margin: 0 0 0 25px;
					
					&::before {
						content: '';
						position: absolute;
						left: -10px;
						top: 5px;
						height: 10px;
						width: 1px;
						background: white;
					}
				}
			}
		}
	}
}

// desktop normal and tablet landscape ( max-width 1199px )
@include media-breakpoint-down(lg) {
	
	footer.footer-revamp {
		.footer-bottom {
			.copyright {
				a {
					&::before {
						top: 1px;
					}
				}
			}

			.sign {
				a + a {
					&::before {
						top: 2px;
					}
				}
			}
		}
		
	}
}

// desktop small and tablet potrait ( max-width 991px )
@include media-breakpoint-down(md) {
	
	footer.footer-revamp {
		.footer-top {
			padding: 20px 0 30px;

			.container {
				flex-wrap: wrap;
			}

			.logo-component {
				width: 100%;
				margin: 0 0 30px;
				text-align: center;

				img {
					height: 90px;
					width: auto;
				}
			}
		}		
	}
}

// mobile potrait and landscape ( max-width 767px )
@include media-breakpoint-down(sm) {
	
	footer.footer-revamp {

		h1 {
			font-size: 22px;
		}
		h2 {
			font-size: 18px;
		}
		h3 {
			font-size: 16px;
		}
		
		.mobile-contact-table {
			display: block;
		}
		
		.contact-table {
			display: none;
		}
		
		blockquote {
			font-size: 2.2rem;
		}
		
		.bootstrap-datetimepicker-widget {
			
		}
		
		.mobile-contact-table {
			
			thead,tbody {
				width: 100%;
				
				tr {
					td {
						width: 100%;
					}
				}
			}
			
			+ .mobile-contact-table {
				margin-top: 0;
			}
		}
		
		.panel-container {
			margin: 0 -10px;
			border-left: 0;
			border-right: 0;
			
			.panel-header,.panel-content {
				padding-left: 10px;
				padding-right: 10px;
				
				.panel-handle {
					right: 10px;
				}
			}
		}
	
		.container {
			max-width: 90%;
			width: 90%;
		}

		.footer-bottom {
			.copyright {
				a {
					&::before {
						top: 1px;
					}
				}
			}

			.sign {
				a + a {
					&::before {
						top: 2px;
					}
				}
			}
		}
		
	}
}

//small mobile (max-width 480px)
@include media-breakpoint-down(xs) {
	footer.footer-revamp {

		.footer-top {
			.info-component {
				.contacts {
					flex-wrap: wrap;
					width: 80%;
					margin: auto;

					.contact {
						width: 100%;
						justify-content: center;
						margin: 0;

						+ .contact {
							margin: 10px 0 0 0;
						}
					}
				}

				.foot-nav {
					flex-wrap: wrap;
					justify-content: center;

					a {
						font-size: 1.8rem;
						margin: 0 10px 10px;
					}
				}
			}
		}

		.footer-bottom {
			.container {
				flex-wrap: wrap;
			}

			.copyright {
				width: 100%;
				text-align: center;

				a {
					&::before {
						top: 1px;
					}
				}
			}

			.sign {
				width: 100%;
				text-align: center;
				margin: 10px 0 0 0;

				a + a {
					&::before {
						top: 2px;
					}
				}
			}
		}
		
	}
}
