header.header-revamp {
	position: relative;
	background: #424242;

	.container {
		width: 1366px;
		padding: 0;

		&::after,&::before {
			content: none;
		}
	}

	h1 {
		@include default-text("h1");
		color: $body;
	}
	h2 {
		@include default-text("h2");
		color: $body;
	}
	h3 {
		@include default-text("h3");
		color: $body;
	}
	h4 {
		@include default-text("h4");
		color: $body;
	}
	
	p,span {
		font-size: 1.6rem;
		font-weight: normal;
		line-height: 1.4;
		margin-bottom: 25px;
		color: $body;
	}
	
	a {
		font-weight: 400;
		font-size: 1.6rem;
		color: $second;
		
		&:hover {
			color: $second;
		}
		
		&:visited {
			color: $second;
		}
	}
	
	ul {
		padding: 0;
		margin-bottom: 15px;
		font-weight: 400;
		font-size: 1.6rem;
		color: $body;
		
		li {
		}
	}
	
	ol {
		padding: 0;
		margin-bottom: 15px;
		font-weight: 400;
		font-size: 1.6rem;
		color: $body;
		
		li {
			margin-left: 40px;
		}
	}
	
	table {
		width: 100%;
		
		thead {
			width: inherit;
			
			tr {
				th {
					padding: 20px 80px 20px 0;
					font-size: 1.6rem;
					
					h4 {
						margin: 0;
					}
				}
			}
		}
		
		tbody {
			width: inherit;
			
			tr {
				td {
					padding: 15px 80px 15px 0;
					font-size: 1.6rem;
					
					h4,
					p {
						margin: 0;
					}
				}
				
				&:not(:first-child) {
					border-top: 1px solid #cacaca;
				}
			}
			
		}
	}
	
	.info-component {
		background: $grey;
		
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		
		.contacts {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 34px;
			
			.contact {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				
				
				+ .contact {
					margin: 0 0 0 20px;
				}
				img {
					height: 21px;
					margin: 0 5px 0 0;
				}
				
				a {
					@include underline;
					font-size: 1.3rem;
					font-weight: 700;
					color: white;
				}
			}
		}
		
		.social-medias {
			.social {
				img,svg {
					height: 20px;
					width: 20px;
					fill: white;
				}
				
				+ .social {
					margin: 0 0 0 7px;
				}
			}
		}
	}
	
	.navigation-component {
		position: relative;
		background: none;
		border: none;
		z-index: 10;
		
		.navi {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			padding: 15px 0;
			margin: 0;
			
			.nav-logo {
				margin: 0 40px;
				
				img,svg {
					width: 107px;
					fill: white;
				}

				~ .nav-item.has-sub {
					ul {
						left: 0;
						right: auto;
						text-align: left;
					}
				}
			}
			
			.nav-item {
				a {
					@include underline;
					color: white;
					font-size: 1.35rem;
					letter-spacing: 1px;
				}
				
				&.squared {
					border: 1px solid white;
					padding: 6px 15px;
					border-radius: 20px;
					
					a {
						@include reset-underline;
						text-decoration: none;
						font-weight: bold;
					}
				}
				
				&.has-sub {
					position: relative;
					
					&.opened {
						ul {
							display: block;
							opacity: 1;
							transform: translateY(0);
						}
					}

					&:hover {
						ul {
							display: block;
							
						}
						
					}
					
					ul {
						background: lighten(#323232, 10%);
						transition: all .3s;
						margin-top: 15px;
						display: none;
						opacity: 0;
						transform: translateY(10px);
						list-style: none;
						position: absolute;
						top: 100%;
						right: 0;
						left: auto;
						text-align: right;

						.nav-item-level2 {
							a  {
								display: block;
								@include reset-underline;
								padding: 9px 13px;
								transition: all .3s;
								font-size: 1.2rem;
								white-space: nowrap;

								&:hover {
									color:#ccc;
								}
							}
						}
					}
				}
			}
			
			
		}
	}
	
	.logo-mobile {
		display: none;
	}
}

@media (min-width: 1199px) and (max-width: 1400px) {
	
}

// desktop normal and tablet landscape ( max-width 1199px )
@include media-breakpoint-down(lg) {
	header.header-revamp {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: $grey;
		padding: 10px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;
		z-index: 20;
		box-shadow: 0 0 5px 3px rgba(0,0,0,.39);
		
		
		.logo-mobile {
			display: block;
			
			img {
				height: 50px;
			}
		}
		
		.info-component {
			display: none;
		}
		
		.navigation-component {
			position: fixed;
			top: 70px;
			right: 0;
			background: $grey;
			width: auto;
			transition: all .3s;
			box-shadow: inset -1px 1px 5px 0px rgba(0, 0, 0, 0.3), 0px 5px 5px 1px rgba(0,0,0,.5);
			height: calc(100vh - 70px);
			
			.container {
				width: 100%;
				margin: 0;
				padding: 0;
				max-width: none;
			}
			
			.navi {
				display: block;
				
				.nav-item {
					
					a {
						@include reset-underline;
						padding: 15px 20px;
						display: block;
					}
					
					&.squared {
						border: none;
						border-radius: 0;
						padding: 0;
						
						a {font-weight: 400;}
					}

					&.has-sub {
						position: relative;
						
						&.opened {
							ul {
								display: block;
								opacity: 1;
								transform: translateY(0);
							}

							&:hover {
								ul {
									display: block;
									opacity: 1;
									transform: translateY(0);
								}
								
							}
						}
	
						&:hover {
							ul {
								display: none;
							}
							
						}
						
						ul {
							padding: 5px 0;
							transition: all .3s;
							display: none;
							opacity: 0;
							transform: none;
							list-style: none;
							position: static;
							width: 100%;
							top: 100%;
							right: 0;
							left: auto;
							text-align: left;
							margin: 0;
							padding-left: 10px;

							.nav-item-level2 {
								a  {
									padding-top: 8px;
									padding-bottom: 8px;
								}
							}
						}
					}
				}
				
			}
			
			.nav-logo {
				display: none;
			}
			
			
			&.closed {
				transform: translate3d(100%,0,0);
			}
			
			&.opened {
				transform: translate3d(0,0,0);
			}
		}
		
		$box: 40px;
		.mobile-trigger {
			width: $box;
			height: $box;
			cursor: pointer;
			$weight: 2px;
			position: relative;
			
			.mid {
				height: $weight;
				width: 100%;
				background-color: white;
				transform: translate3d(0,-50%,0);
				position: absolute;
				top: 50%;
				transition: opacity .35s ease;
			}
			
			$margin: 5px;
			&::before, &::after {
				content: '';
				display: block;
				height: $weight;
				width: 100%;
				background-color: white;
				position: absolute;
				top: $margin;
			}
			
			&::after {
				top:auto;
				bottom: $margin;
			}
			
			&.opened {
				.mid {
					opacity: 0;
				}
				
				&::before {
					animation: openTopAnim .35s forwards ease-in-out 1;
				}
				
				&::after {
					animation: openBotAnim .35s forwards ease-in-out 1;
				}
			}
			
			&.closed {
				&::before {
					animation: closedTopAnim .35s forwards ease-in-out 1;
				}
				
				&::after {
					animation: closedBotAnim .35s forwards ease-in-out 1;
				}
			}
		}
	}
}

// desktop small and tablet potrait ( max-width 991px )
@include media-breakpoint-down(md) {
	
}

// mobile potrait and landscape ( max-width 767px )
@include media-breakpoint-down(sm) {

	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 16px;
	}
	
	.mobile-contact-table {
		display: block;
	}
	
	.contact-table {
		display: none;
	}
	
	blockquote {
		font-size: 2.2rem;
	}
	
	.bootstrap-datetimepicker-widget {
		
	}
	
	.mobile-contact-table {
		
		thead,tbody {
			width: 100%;
			
			tr {
				td {
					width: 100%;
				}
			}
		}
		
		+ .mobile-contact-table {
			margin-top: 0;
		}
	}
	
	.panel-container {
		margin: 0 -10px;
		border-left: 0;
		border-right: 0;
		
		.panel-header,.panel-content {
			padding-left: 10px;
			padding-right: 10px;
			
			.panel-handle {
				right: 10px;
			}
		}
	}

	.container {
		max-width: 90%;
		width: 90%;
	}
	
	header.header-revamp {
		
		.navigation-component {
			width: 100%;
			height: auto;
			
			.navi {
				padding-top: 0;
				height: calc(100vh - 70px);
				overflow-y: auto;
				
				.nav-item {
					a {
						font-size: 1.6rem;
						padding: 25px 20px;
						
						&:hover {
							background: rgba(200,200,200,.5);
							box-shadow: none;
						}
					}
				}
			}
		}
	}
}
//small mobile (max-width 480px)
@include media-breakpoint-down(xs) {
	header.header-revamp {
		
		.navigation-component {
			width: 100%;
			height: auto;
			
			.navi {
				padding-top: 0;
				height: calc(100vh - 0px);
				overflow-y: auto;
			}
		}
	}
}
