.slider-component {
    position: relative;
    z-index: 2;
    
    .slider-wrap {
        position: relative;
        
        .slider-img {
            overflow: hidden;

            img {
                width: 100%;
            }
        }
        
        .slider-text {
            position: absolute;
            top: 32vh;
            left: 50vw;
            transform: translateX(-50%);
        }
        
        .subtitle {
            font-size: 5rem;
            color: white;
            font-weight: 300;
            white-space: nowrap;
            text-align: center;
            margin: 0 0 20px;

            + .slider-button {
                margin: 80px 0 0 0;
            }
        }
        
        .title {
            font-size: 8rem;
            color: white;
            font-weight: 700;
            letter-spacing: 20px;
            text-transform: uppercase;
            text-align: center;
            margin: 0 0 32px;

            + .slider-button {
                margin: 65px 0 0 0;
            }
        }
        
        .slider-button {
            display: flex;
            justify-content: center;

            .cbtn {
                font-weight: 700;
                font-size: 1.7rem;
                letter-spacing: 4px;
                padding: 13px 45px;
                text-align: center;
            }
            
            .cbtn + .cbtn {
                margin: 0 0 0 10px;
            }
        }
    }
    
    .slick-dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 165px;
        list-style: none;
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        
        li {
            display: inline-block;

            + li {
                margin: 0 0 0 13px;
            }

            button {
                font-size: 0;
                width: 50px;
                height: 6px;
                border: none;
                background: white;
                transition: all .3s;
                outline: none;
            }
            
            &.slick-active, &:hover {
                button {
                    background:$second;
                }
            }
        }
    }
}

@media (min-width:1400px) {
    .slider-component {
        .slider-wrap {
            .slider-img {
                height: calc(100vh - 34px);

                img {
                    height: calc(100vh - 34px);
                    object-fit: cover;
                }
            }
        }
    }
}


// desktop normal and tablet landscape ( max-width 1199px )
@include media-breakpoint-down(lg) {
    .slider-component {
        margin: 70px 0 0 0;

        .slider-wrap {
            .slider-text {
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }

        .slick-dots {
            bottom: 20px;
        }
    }
}

// desktop small and tablet potrait ( max-width 991px )
@include media-breakpoint-down(md) {
    .slider-component {
        margin: 70px 0 0 0;

        .slider-wrap {
            .slider-text {
                top: 50%;
                transform: translate(-50%,-50%);

                .slider-button {
                    flex-wrap: wrap;

                    .cbtn {
                        width: 100%;

                        + .cbtn {
                            margin: 10px 0 0 0;
                        }
                    }
                }
            }
            
        }
    }
}

// mobile potrait and landscape ( max-width 767px )
@include media-breakpoint-down(sm) {
    .slider-component {
        margin: 70px 0 0 0;

        .slider-wrap {
            .slider-text {
                position: static;
                transform: none;
                margin: 0;
                padding: 20px 20px 40px;

                .subtitle,.title {
                    color: $main;
                    white-space: pre-wrap;
                    text-align: left;
                    letter-spacing: 1px;
                }

                .subtitle + .title {
                    line-height: 1.2;
                    margin-bottom: 17px;
                }

                .slider-button {
                    margin: 0;
                    flex-wrap: wrap;

                    .cbtn {
                        width: 100%;
                        
                        + .cbtn {
                            margin: 10px 0 0 0;
                        }
                    }
                }
            }
        }

        .slick-dots {
            li {
                button {
                    background: #dfdfdf;
                }
            }
        }
    }
}

//small mobile (max-width 480px)
@include media-breakpoint-down(xs) {
    .slider-component {
        .slider-wrap {
            .slider-text {
                padding: 20px 20px 50px;
            }
        }
    }    
}