//- header.jade
header.header-revamp
	.info-component
		.container
			.contacts
				.contact
					img(src="img/ui/ic-phone.svg")
					a(href="#") +12 123 456 789
				.contact
					img(src="img/ui/ic-mail.svg")
					a(href="emailto:info@yoursite.com") info@yoursite.com
			.social-medias
				a.social(href="#")
					img(src="img/ui/ic-fb.svg")
				a.social(href="#")
					img(src="img/ui/ic-linkedin.svg")
				
	nav.navigation-component.closed
		.container
			ul.navi
				li.nav-item
					a(href="#") HOME
				li.nav-item
					a(href="#") OUR STORY
				li.nav-item
					a(href="#") HOW CAN WE HELP
				li.nav-item.has-sub.closed
					a(href="#") WHY SOLAR
					ul
						li.nav-item-level2
							a(href="#") WHY RESIDENT SOLAR
						li.nav-item-level2
							a(href="#") WHY COMMERCIAL SOLAR

				li.nav-logo
					a(href="#")
						img(src="img/ui/logo.svg")
				li.nav-item
					a(href="#") CONNECT WITH US
				li.nav-item.has-sub.closed
					a(href="#") REFERENCES
					ul
						li.nav-item-level2
							a(href="#") BLOG
						li.nav-item-level2
							a(href="#") TESTIMONIAL
						li.nav-item-level2
							a(href="#") FAQs
				li.nav-item
					a(href="#") LOGIN
				li.nav-item.squared
					a(href="#") QUOTE
	.mobile-trigger.closed
		.mid