// style that has low priority
link(rel="stylesheet" href="js/vendor/slick-carousel/slick/slick.css" defer)

// script
script(src="js/vendor/jquery/dist/jquery.min.js")
script(src="js/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="js/vendor/slick-carousel/slick/slick.min.js")
script(src="js/plugins-dist.js")
script(src="js/main-dist.js")
script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js")
script.
	WebFont.load({
		google: {
			families: ['Lato:100,100i,300,300i,400,400i,700,700i,900,900i','Roboto:300']
		}
	});
