//- header.jade
header
	.info-component
		.container
			.contacts
				.contact
					img(src="img/ui/ic-phone.png")
					a(href="#") +12 123 456 789
				.contact
					img(src="img/ui/ic-email.png")
					a(href="emailto:info@yoursite.com") info@yoursite.com
			.social-medias
				a.social(href="#")
					img(src="img/ui/ic-facebook.png")
				a.social(href="#")
					img(src="img/ui/ic-linkedin.png")
				 
	nav.navigation-component
		.container
			.mobile-trigger
				.mid
			ul.nav
				li.nav-item
					a(href="#") HOME
				li.nav-item
					a(href="#") OUR STORY
				li.nav-item
					a(href="#") HOW CAN WE HELP
				li.nav-item
					a(href="#") WHY SOLAR
				li.nav-logo
					a(href="#")
						img(src="img/ui/logo.png")
				li.nav-item
					a(href="#") CONNECT WITH US
				li.nav-item
					a(href="#") REFERENCES
				li.nav-item
					a(href="#") LOGIN
				li.nav-item.squared
					a(href="#") QUOTE
					