/* ===== Main Styles ===========================================================================
 	Author: Agung DLGS (agung@gmail.com)
 	2018
 	Info: Main styling for Free Engineer (desktop-first approach)
===================================================================================================
*/
// import bootstrap variables, grid and mixins
@import "../js/vendor/bootstrap/scss/bootstrap";
@import "../js/vendor/slick-carousel/slick/slick.less";
@import "default/fonts";
@import "default/variable";
@import "mixin/mixin";
@import "bourbon";

//library scss
// @import "../js/lib/lib";
html {
	font-size: 10px;
}
body.revamp {
	font-size: 10px;
	font-family: $lato;
	color: $body;
	overflow-x: hidden;

	// components
	@import "component/dropdown-select.scss";
	@import "component/slider-component.scss";
	@import "component/button.scss";
	// @import "component/card.scss";
	// @import "component/filter.scss";

	// header section
	@import "component/header.scss";

	// main section
	main[ role="main" ] {
		// margin-top: 160px;
		// anticipate page that has very few content ( short height )
		// to avoid hanging footer
		// min-height: calc(100vh - 545px);
		// position: relative;

		// &.minimize {
		// 	margin-top: 120px;
		// }
		//
		// .container {
		// 	position: relative;
		// }

		// @import "default/contents.scss";

		// each page style goes here
		// example : @import "pages/homepage"
		@import "pages/homepage-1.scss";
		@import "pages/homepage.scss";
	}


	// footer section
	@import "component/footer.scss";

	// default style
	@import "default/default.scss";

	// responsive style
	@import "responsive/responsive.scss";

	// media print style
	@import "print/print.scss";

}
